<div class="card" [class.like]="like == true">
  <div class="title">
    <span>Title : </span>
    <span>{{title}}</span>
  </div>
  <div class="description">
    <span>Description : </span>
    <span>{{description}}</span>
  </div>
  <div class="comments">
    <span>Comments : </span>
    <div class="card-comment" *ngFor="let comment of commentList; let i = index">
      -{{comment}}
    </div>  
  </div>
  <button (click)="likeCard()" >Like</button>
  <button (click)="unlikeCard()" >Unlike</button><br>
  <button (click)="showForm()">Add Comment</button>
  <form class="comment-form" [class.show]="showInputComment == true" (ngSubmit)="addComment($event)">
    <input type="text" name="comment" >
    <button type="submit">Add Comment</button>
  </form>
  

</div>