.like {
  background: #ff9f66 !important;
}
.comment-form {
  display: none;
}
.show {
  display: block;
}
.card {
  background: #faf5f2;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

}