<div class="column"> 
  <h2>{{title}}</h2>
  <div>
      <label>Title card</label>
      <input class="form-control" name="title"
          [(ngModel)]="card.title" #cardTitle="ngModel" />
  </div>
  <div>
      <label>Description</label>
      <input type="text" class="form-control" name="description"
          [(ngModel)]="card.description" #cardDescription="ngModel" />
  </div>

  <div>
      <button class="btn btn-default" (click)="addCard(cardTitle, cardDescription)">
          Add
      </button>
  </div>

  <div class="card-list" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="cardList">
    <div class="card-list-title"> Cards:</div>
    <app-card cdkDrag  *ngFor="let card of cardList; let i = index" [description]="card.description" 
          [title]="card.title" ></app-card>
  </div>       

</div>
