<div>
  <form class="form-add-column">
    <label >Input title column: <input type="text" name="title column" [(ngModel)]="column.title" #columnTitle="ngModel"></label><br>
    <button class="button-add-column" (click)="addColumn(columnTitle)" >Add column</button>
  </form>
  
  <div  class="column-list" cdkDropListGroup >
      <app-column class="column-elem" [title]="column.title" *ngFor="let column of columnList; let i = index " ></app-column>
  </div>
  
</div>