.column-list {
  display: flex;
  flex-wrap: wrap;
}
.column-elem {
  flex: 0 0 30%;
}
.form-add-column {
  padding: 2rem;
  font-size: 24px;
}
.button-add-column {
  margin: 1rem 0;
  padding: 0.5rem  1rem ;
  background: #f2a06b;
  border: none;
  border-radius: 4px;
}